# Configuraciones de IDE
.idea/
.vscode/

# Proyecto
chanlenge/*
chanlenge-2.0/*

# Entorno virtual y Python
conexion-DB/venv/
__pycache__
*.pyc
*.pyo

# Dependencias y archivos generados automáticamente
conexion-DB/venv/Lib/site-packages/
conexion-DB/venv/Lib/site-packages/*.dist-info/
.log
.tmp

# Scripts y módulos del entorno virtual
conexion-DB/venv/Scripts/
conexion-DB/modules/*
