# Configuraciones de IDE
.idea/
.vscode/

# Directorios con los ejercicios 
CHANLENGE/*
CHANLENGE_2.0/*
CHANLENGE_OPP/*


# Entorno virtual y Python
conexion_DB/venv/
__pycache__
*.pyc
*.pyo

# Dependencias y archivos generados automáticamente
conexion-DB/venv/Lib/site-packages/
conexion-DB/venv/Lib/site-packages/*.dist-info/
.log
.tmp

# Scripts y módulos del entorno virtual
conexion-DB/venv/Scripts/
conexion-DB/modules/*
